extends layout

block content
  h1= title
  p Welcome to #{title}

  #msg_container
  input(type='text' id='nick_user' placeholder='nick')
  input(type='text' id='msg_user')
  input(type='submit' id='msg_submit')
