extends layout

block content
  h1= title
  p login 

  
  input(type='text' id='user_login' placeholder='usuario')
  input(type='password' id='pass_login' placeholder='*******')
  input(type='submit' id='msg_submit')